<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="/css/styles.css">
  <title>Mercado Liebre, el mejor lugar para vender !</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/78eee2c548.js" crossorigin="anonymous"></script>
  </head> 
  <body>
   <header class="main-header">
    <div class="main-header-top-bar">
        <div class="logoybuscador">
                <img src="/images/logo-mercado-liebre.svg"  class="logo"></img>
              <div class="buscador">
                <input type="text" placeholder="Buscar productos, marcas">  
                <i class="fas fa-search" id="iconobuscador"></i>
              </div>
        </div>
        <h2 class="copy-header">
          <i id="iconoinicio" class="fas fa-hand-holding-usd"></i> 
          Comprá en cuotas y sin tarjeta de crédito</h2>
      </div>

    <a href="#" class="hamburguer-button">
      <i id="iconoMenu" class="fas fa-bars"></i> 
    </a>
    
    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul class="right-navbar">
        <li><a href="./registro.html">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
        <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>
  </header>
  <main class="mainlogin">
      <section>
         <div class="nombredeusuariologin1">
           <input type="text" name="nombredeusuario" id="" placeholder="Nombre de Usuario" class="nombredeusuariologin">
        </div>
        <div class="contrasenalogin1">
           <input type="password" name="clave" placeholder="Contraseña" class="contrasenalogin" >
          </div> 
      </section>
      <div class="botonenviar1">
      <button class="botonenviar">Enviar</button>
    </div>
  </main>
    
</body>
<footer>
<p>jfklasdj</p>

</footer>