<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="/css/styles.css">
  <title>Mercado Liebre, el mejor lugar para vender !</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/78eee2c548.js" crossorigin="anonymous"></script>
  </head> 

</head>
<body id="formreg">
      <form action="/registro" method="POST" class="formularioregistro">
      <div class="nombreyapellido1">
            <input type="text" name="nombreyapellido" id="" placeholder="Nombre y apellido" class="nombreyapellido      ">
      </div>
      <div class="nombredeusuario1">
             <input type="text" name="nombredeusuario" id="" placeholder="Nombre de Usuario" class="nombredeusuario">
      </div>
      <div class="email1">
            <input type="text" name="email" id="" placeholder="E-mail" class="email">
        </div>
      <div class="fechadenacimiento">
          <label>Fecha de nacimiento </label>
          <input type="date" name="fechadenacimiento">
      </div>
      <div class="domicilio">
           <input type="text" name="Domicilio" placeholder="Domicilio">
      </div>
      <div class="categoria">
          <p>Elige la catergoría de tu cuenta</p>   
          <label>Comprador</label>
          <input type="radio" name="perfilusuario">
          <label>Vendedor</label>         
          <input type="radio" name="perfilusuario">
      </div>
      <div class="categoriadeinteres">
          <label>Categorías de interés  </label>
          <select name="categoridasdeinteres" id="">
                <option value="electro">Electro</option>
                <option value="moda">Moda</option>
                <option value="hogar">Hogar</option>
                <option value="juegueteria">Juguetería</option>
                <option value="vida sana">Vida Sana</option>
          </select>
      </div>
      <div class="fotodeusuario">
          <label>Foto de usuario</label>
          <input type="file" name="Foto de usuario">
      </div>
      <div class="contraseña">
          <label>Contraseña </label>
          <input type="password" name="clave">
      </div>
      <div class="repitalacontraseña">
          <label>Repita la contraseña </label>
          <input type="password" name="confirmacionclave">
      </div>
      <div class="butmityreset">
           <button type="submit">Enviar</button> 
           <button type="reset">Borrar</button> 
      </div>
      </form>
</body>
</html>