<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="/css/styles.css">
  <title>Mercado Liebre, el mejor lugar para vender !</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/78eee2c548.js" crossorigin="anonymous"></script>
  </head> 

</head>

<body >
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logoybuscador">
                    <img src="/images/logo-mercado-liebre.svg"  class="logo"></img>
                  <div class="buscador">
                    <input type="text" placeholder="Buscar productos, marcas">  
                    <i class="fas fa-search" id="iconobuscador"></i>
                  </div>
            </div>
            <h2 class="copy-header">
              <i id="iconoinicio" class="fas fa-hand-holding-usd"></i> 
              Comprá en cuotas y sin tarjeta de crédito</h2>
          </div>
    
        <a href="#" class="hamburguer-button">
          <i id="iconoMenu" class="fas fa-bars"></i> 
        </a>
        
        <nav class="main-navbar">
          <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <ul class="right-navbar">
            <li><a href="./registro.html">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
            <li><a href="./login.html">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
          </ul>
        </nav>
      </header> 
    
    </div>
<div id="formreg">

      <form action="/registro" method="POST" class="formularioregistro">
      <div class="nombreyapellido1">
            <input type="text" name="nombreyapellido" id="" placeholder="Nombre y apellido" class="nombreyapellido      ">
            <span class="feedback"></span>
        </div>
      <div class="nombredeusuario1">
             <input type="text" name="nombredeusuario" id="" placeholder="Nombre de Usuario" class="nombredeusuario">
      </div>
      <div class="email1">
            <input type="text" name="email" id="" placeholder="E-mail" class="email">
        </div>
      <div class="fechadenacimiento1">
          <label>Fecha de nacimiento </label>
          <input type="date" name="fechadenacimiento" class="fechadenacimiento">
      </div>
      <div class="domicilio1">
           <input type="text" name="Domicilio" placeholder="Domicilio" class="domicilio">
      </div>
      <div class="categoriausuario1">
          <p>Perfil del Usuario</p>   
          <label>Comprador</label>
          <input type="radio" name="perfilusuario">
          <label>Vendedor</label>         
          <input type="radio" name="perfilusuario">
      </div>
      <div class="categoriadeinteres1">
          <label>Intereses </label>
          <select name="categoriasdeinteres" id="" class="categoriasdeinteres">
                <option value="electro">Electro</option>
                <option value="moda">Moda</option>
                <option value="hogar">Hogar</option>
                <option value="juegueteria">Juguetería</option>
                <option value="vida sana">Vida Sana</option>
          </select>
      </div>
      <div class="fotodeusuario1">
          <label>Foto de usuario</label>
          <input type="file" name="Foto de usuario" class="fotodeusuario">
      </div>
      <div class="contrasena1">
          <label>Contraseña </label>
          <input type="password" name="clave" class="contrasena" >
      </div>    
      <div class="contrasena1">
          <label>Repita la contraseña </label>
          <input type="password" name="confirmacionclave" class="contrasena">
      </div>
      <div class="submityreset">
           <button type="submit">Enviar</button> 
           <button type="reset">Borrar</button> 
      </div>
      </form>
    </div>
</body>
<footer  class="footer1">
    <div class="parrafopaga">
      <i class="fas fa-credit-card"></i>
      <p>Pagá con tarjeta o efectivo</p>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>  
    </div>
    <div class="parrafoenvio">
      <i class="fas fa-gift"></i>
      <p>"Envío gratis desde $ 2.500</p>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
    </div>
    <div class="parrafoseguridad">
      <i class="fas fa-user-shield"></i>
      <p>Seguridad, de principio a fin</p>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
    
  </footer> 
  <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
</html>