  * {
  box-sizing: border-box; 
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  }
.homebanner {
  width: 100%;
  }

.logoybuscador {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.homebannerimagen{
  width: 100%;
}
.logo {
width: 50%;
padding: 15px;  
}
.main-header-top-bar img{
  width: 50%;
  }
.buscador {
 max-width: 50%;
 display: block; 
}
.buscador input {
  max-width: 85%;
}
.buscador i {
  max-width: 15%;
}
header {
  width: 100%;
    }

.main-header {
  background-color: #EAC926;
  padding: 20px; 
  width: 100%;
  }
.hamburguer-button {
  background-color: #03264C;
  color: #ffffff;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center; 
  font-size: 18px;
  margin: auto;
}

.copy-header {
 font-weight: 400;
 text-align: center;
 font-size: 3vw;
}   
.main-navbar {
  display: none;
  padding: 15px;
  width: 100%;
}
.main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-navbar a {
text-decoration: none;
color: #222222;
display: inline-block;
padding: 5px 0;
font-size: 2vw;
} 
.cuerpoproductos{
  width: 100%;
  display: flex;
  background-color: #ebebeb;
  padding: 20px;
  justify-content: center;
}
.imagen {
  width: 100%;
  display: block;
  padding: 30px;  
  }

.containerproducto1 {
  margin: 50px 5px;
  display: block;
  width: 100%;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.containerproducto2, .containerproducto3, .containerproducto4 {
  margin: 50px 5px;
  position: relative;
  width: 100%;
  margin-top: 10px;
  background-color: #ffffff;
  padding: 15px;
  display: none;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
 }
 .containerinfo{
   border-top: #ebebeb solid 1px;
   padding: 15px;
  
 }

.containerproducto1 i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15%;
}
.containerproducto2 i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15%;
}
.containerproducto3 i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15%;
}
.containerproducto4 i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 15%;
}
.precioydesc{ 
  display: flex;
  margin: 30px 0px 0px;
  }
.precioydesc .precio{
  width: 30%;
  align-content: flex-start;
  }
.precioydesc .descuento{
  width: 70%;
  align-content: flex-start;
}
.descprod{
  margin: 8px 0px;
  display: none;
}
.create-form{
  padding: 20px 15px;
  margin: 20px;
  }
.control-formulario {
  margin-bottom: 5px;
}
.control-formulario label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}
.control {
  width: 100%;
  padding: 8px 8px;
  }

.boton-formulario{
  background-color: #39b54a;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  color: ffffff;
  padding: 5px 10px;
}
.ultimavista {
  width: 100%;
  font-size: 4vw;
  font-weight: 400px;
  text-align: center;
  }
.main{
  width: 100%;
  align-content: center;
  background-color: #ebebeb;
  margin: 0px ;
  }
/*                          MEDIA 361 MEDIA 361 MEDIA 361 MEDIA 361  MEDIA 361 MEDIA 361 MEDIA 361 */
@media (min-width: 361px){
.descprod{
  display: block;
  }
.main-header-top-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
.logoybuscador{
  width: 66.6%;
}
.copy-header{ 
  max-width: 33.3%;
  text-align: right;
  font-size: 1.5vw;
}
.hamburguer-button {
  display: none;
}
.main-navbar {
  display: flex;   
  justify-content: space-between;
}
.main-navbar ul {
  display: flex;
  }
.main-navbar li {
  margin: 0 5px;
}
.cuerpoproductos{
  display: flex;
  flex-wrap: nowrap;
}
.containerproducto1, .containerproducto2{
  display: block;
  width: 50%;
  flex-wrap: wrap;
} }

/*                          MEDIA 768 MEDIA 768 MEDIA 768 MEDIA 768 MEDIA 768 MEDIA 768 MEDIA 768 */

@media (min-width: 769px){  


.hamburguer-button {
  display: none;
}
.main-navbar {
  display: flex;   
  justify-content: space-between;
}
.main-navbar ul {
  display: flex;
  
}
.main-navbar li {
  margin: 0 5px;
  
}
.cuerpoproductos{
  display: flex;
  flex-wrap: nowrap;
}



.imagen {
  max-width: 100%;
  width: auto;
  height: auto;
  }
  .containerproducto1, .containerproducto2, .containerproducto3, .containerproducto4{
    display: block;
    width: 25%;
    flex-wrap: nowrap;
  }
}

@media (min-width: 1200px){
.main-header-top-bar, .main-navbar {
  max-width: 1200px;
    margin: auto;
  }
.logo{
  width: 250px;
}
.main-header-top-bar{
  align-items: center;
  }
.main-navbar {
  margin-top: 30px; 
  }

.main-navbar li {
  margin: 0 10px; 
  }
.main-navbar a {
    margin: 0 19px; 
    font-size: 1.5vw;
    }
.copy-header{ 
    max-width: none;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    }
    .cuerpoproductos{
      display: flex;
      flex-wrap: nowrap;
    }
    
  }

  /*ACA EMPIEZA REGRISTRO ---- ACA EMPIEZA REGRISTRO ---- ACA EMPIEZA REGRISTRO ----   */
  * {
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
    }
    #formreg{
      width: 100%;
      background-color: #ebebeb;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;

      }
    .nombreyapellido1{
      display: flex;
      padding: 10px 20px;
      }

      .nombreyapellido{
      border-radius: 5px;
      height: 25px;
      }
    .nombredeusuario1{
      display: flex;
      padding:10px 20px;
    }
    .nombredeusuario{
      border-radius: 5px;
      height: 25px;
    }
    .fechadenacimiento1{
      font-size: 40px;
      font-weight: 500;
      display: block; 
      padding: 10px 0px 20px 20px; 
       }
    .fechadenacimiento1 label {
      display: block;
      font-size: 15px;
      padding: 10px 0px;
      margin-bottom: -20px;
      
     }
    .fechadenacimiento {
      border-radius: 5px;
      height: 25px;
    }
    .email{
      border-radius: 5px;
      height: 25px;
    } 
    .email1 {
      display: flex;
      padding: 10px 20px;
    } 
    
    .domicilio1{
      display: flex;
      padding: 10px 20px; 
      ;
    }
    .domicilio{
      border-radius: 5px;
      height: 25px;
    }

    .formularioregistro {
      display:  block;
     font-size: 50px;
     width: 100%;
      
     }
     .categoriausuario1{
      font-size: 1.5vw;
      font-weight: 500;
      padding: 10px 20px;
      align-items: center;
     }
     .categoriausuario1 p {
      display: block;
      font-size: 15px;
      padding: 10px 0px;
      
     }  
     .categoriausuario1 label {
       font-size: 12px;
     }
     .categoriadeinteres1 {
       padding:10px 20px;
       display: block;
     }
    .categoriadeinteres1 label {
      display: block;
      font-size: 15px;
      margin-bottom: -15px;
          }
    .categoriasdeinteres {
       font-size: 10px;
       border-radius: 5px;
       height: 25px;
          
     }
    .categoriasdeinteres option {
      font-size: 10px;
    }
    
    .fotodeusuario1{ 
      padding: 10px 20px;
      display: block;
    }
    .fotodeusuario1 label {
      display: block;
      font-size: 15px;
      margin-bottom: -15px;
      }
    .contrasena1 {
      padding: 10px 20px;
      display: block;
    }
    .contrasena1 label {
      display: block;
      margin-bottom: -25px;
      font-size: 15px;
    }
    .submityreset {
      margin-top: -30px;
      padding: 10px 20px;
      width: 100%;
      }
    .submityreset button {
      height: 40px;
      width: 80px;
      border-radius: 5px;
      font-weight: 600;
      color: #03264C;
      }
      /*a ACA VAN LOS ESTILOS DEL LOGIN */ 
    .mainlogin{
      width: 100%;
      align-content: center;
      background-color: #ebebeb;
      display: block;
      text-align: center;
     }
     .nombredeusuariologin, .contrasenalogin {
      width: 100%;
      max-width: 500px;
      justify-content: space-around;
      align-items: center;
      border-radius: 5px;
      border: none;
      height: 30px;
      }
    .nombredeusuariologin1, .contrasenalogin1 {
      display: block;
      justify-content: space-around;
      padding: 30px 0px;
    }
    .botonenviar {
      background-color: #1259c3 ;
      color: #FFF;
      width: 100%;
      max-width: 500px;
      border-radius: 5px;
      text-align: center; 
      height: 30px;
     }
     .botonenviar1 {
       padding: 30px 0px;
     }

    